.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text {
  font-family: "CabinetGrotesk-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.footer__date {
  font-family: "CabinetGrotesk-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
}
