.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 18px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 2px 12px;
  background-color: #ffffff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
  border-radius: 19px;
  border: 1px solid #0000004d;
}

.card__like-hidden {
  display: none;
}

.card__like-visible {
  display: block;
}

.card__like-visible:hover {
  opacity: 30%;
}
