.header {
  display: flex;
  align-items: center;
  padding: 32px 40px 28px 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  justify-content: space-evenly;
}

.header__container {
  display: flex;
}

.header__grid {
  display: grid;
  flex: 1; /*Allow the grid container to grow and fill available space */
  justify-content: end; /* Right-align the grid items */
  grid-template-columns: auto auto auto; /* Three columns */
  grid-template-rows: auto;
  gap: 20px;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
  cursor: pointer;
}

.header__date-and-location {
  margin: 0;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0px 20px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
