.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0 28px;
  line-size: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  justify-content: space-between;
}

.header__logo {
  margin-right: 24px;
  cursor: pointer;
}

.header__date-location {
  margin: 0 auto 0 0;
}

.header__add-clothes-btn {
  padding: 0 0 0 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.header__username {
  margin: 0 12px 0 20px;
  line-height: 24px;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__menu-icon {
  visibility: hidden;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.header__guest-nav {
  display: flex;
  margin-left: 20px;
}

.header__signin {
  padding-left: 20px;
  color: #000000;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.header__signup {
  color: #000000;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .header__logo {
    margin: 0 0 32px 0;
  }

  .header__date-location {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .header__user-container {
    display: none;
  }

  .header__mobile-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .header__menu-icon {
    visibility: visible;
    background: transparent url(../../assets/mobile-menu-btn.svg) no-repeat;
    color: black;
    border: none;
    width: 54px;
    height: 54px;
    overflow: auto;
  }
}
