.modal__image {
  border-radius: 10px;
  width: 496px;
  height: 498px;
}

.modal__content_type_image {
  padding: 0;
  height: 610px;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 475px;
}
.modal__caption {
  margin-left: 25px;
}

.modal__weather {
  margin-left: 25px;
}

.modal__delete-button {
  color: rgba(255, 77, 0, 1);
  cursor: pointer;
  border: none;
  background: transparent;
}

.modal__delete-button_visible {
  display: block;
}

.modal__delete-button_hidden {
  display: none;
}

.item__delete-btn:hover {
  color: #f80000;
}
