.sidebar {
  width: 229px;

  gap: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
}

.sidebar_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__edit {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  padding: 0;
}

.sidebar__logout {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  padding: 0;
}
