.sidebar {
  width: 229px;
  height: 56px;
  display: flex;
  gap: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  position: absolute;
  top: 155px;
  left: 10px;
}

.sidebar_buttons {
  display: flex;
  flex-direction: column;
}

.sidebar__edit {
  border: none;
  background-color: transparent;
}

.sidebar__logout {
  border: none;
  background-color: transparent;
}
